h4{
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.table-pc-docker{
    width: 95%;
    margin: auto;
}

table {
    width: 100%;
}

button{
    outline: none;
}

th{
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

@media(max-width: 1000px){
    *{
        font-size: 0.75rem !important;
    }

    h4{
        font-size: 1rem !important;
    }
}